<% if @agents.any? %>
<% order_origin = params[:order] %>
<% origin_param_order = params %>
  <table class="index_table" id="agents_table">
    <thead><tr>
        <th width="15px" class="sortable <%= "sorted-asc" if order_origin == "id_asc" %><%= "sorted-desc" if order_origin == "id_desc" %>">
            <% if order_origin == "id_desc" %>
                <% origin_param_order[:order] = "id_asc"%>
            <% else %>
                <% origin_param_order[:order] = "id_desc" %>
            <% end %>
            
            <%= link_to "ID", admin_agents_path + "?" + params.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "name_asc" %><%= "sorted-desc" if order_origin == "name_desc" %>">
            <% if order_origin == "name_desc" %>
                <% origin_param_order[:order] = "name_asc"%>
            <% else %>
                <% origin_param_order[:order] = "name_desc" %>
            <% end %>
            <%= link_to "Name", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "address_asc" %><%= "sorted-desc" if order_origin == "address_desc" %>">
            <% if order_origin == "address_desc" %>
                <% origin_param_order[:order] = "address_asc"%>
            <% else %>
                <% origin_param_order[:order] = "address_desc" %>
            <% end %>
            <%= link_to "Address", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "city_asc" %><%= "sorted-desc" if order_origin == "city_desc" %>">
            <% if order_origin == "city_desc" %>
                <% origin_param_order[:order] = "city_asc"%>
            <% else %>
                <% origin_param_order[:order] = "city_desc" %>
            <% end %>
            <%= link_to "City", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "phone_asc" %><%= "sorted-desc" if order_origin == "phone_desc" %>">
            <% if order_origin == "phone_desc" %>
                <% origin_param_order[:order] = "phone_asc"%>
            <% else %>
                <% origin_param_order[:order] = "phone_desc" %>
            <% end %>
            <%= link_to "Phone", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th  width="25px" class="sortable <%= "sorted-asc" if order_origin == "ext_asc" %><%= "sorted-desc" if order_origin == "ext_desc" %>">
            <% if order_origin == "ext_desc" %>
                <% origin_param_order[:order] = "ext_asc"%>
            <% else %>
                <% origin_param_order[:order] = "ext_desc" %>
            <% end %>
            <%= link_to "Ext", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th  width="25px" class="sortable <%= "sorted-asc" if order_origin == "zip_asc" %><%= "sorted-desc" if order_origin == "zip_desc" %>">
            <% if order_origin == "zip_desc" %>
                <% origin_param_order[:order] = "zip_asc"%>
            <% else %>
                <% origin_param_order[:order] = "zip_desc" %>
            <% end %>
            <%= link_to "Zip", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "created_at_asc" %><%= "sorted-desc" if order_origin == "created_at_desc" %>">
            <% if order_origin == "created_at_desc" %>
                <% origin_param_order[:order] = "created_at_asc"%>
            <% else %>
                <% origin_param_order[:order] = "created_at_desc" %>
            <% end %>
            <%= link_to "Created At", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "updated_at_asc" %><%= "sorted-desc" if order_origin == "updated_at_desc" %>">
            <% if order_origin == "updated_at_desc" %>
                <% origin_param_order[:order] = "updated_at_asc"%>
            <% else %>
                <% origin_param_order[:order] = "updated_at_desc" %>
            <% end %>
            <%= link_to "Updated At", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "created_by_asc" %><%= "sorted-desc" if order_origin == "created_by_desc" %>">
            <% if order_origin == "created_by_desc" %>
                <% origin_param_order[:order] = "created_by_asc"%>
            <% else %>
                <% origin_param_order[:order] = "created_by_desc" %>
            <% end %>
            <%= link_to "Created By", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th class="sortable <%= "sorted-asc" if order_origin == "updated_by_asc" %><%= "sorted-desc" if order_origin == "updated_by_desc" %>">
            <% if order_origin == "updated_by_desc" %>
                <% origin_param_order[:order] = "updated_by_asc"%>
            <% else %>
                <% origin_param_order[:order] = "updated_by_desc" %>
            <% end %>
            <%= link_to "Updated By", admin_agents_path + "?" + origin_param_order.to_query %>
        </th>
        <th width="105px"></th>
    </tr></thead>
    <% @agents.each do |agent| %>
      <tr>
        <td width="15px"><%= link_to agent.id, admin_agent_path(agent.id) %></td>
        <td><%= agent.name %></td>
        <td><%= agent.address %> </td>
        <td><%= agent.city %> </td>
        <td><%= agent.phone %> </td>
        <td width="25px"><%= agent.ext %> </td>
        <td width="25px"><%= agent.zip %> </td>
        <td><%= agent.created_at %> </td>
        <td><%= agent.updated_at %> </td>
        <td><%= agent.created_by %> </td>
        <td><%= agent.updated_by %> </td>
        <td width="105px"> 
            <%= link_to I18n.t('active_admin.view'), resource_path(agent), :class => "member_link view_link" %>
            <%= link_to I18n.t('active_admin.edit'), edit_resource_path(agent), :class => "member_link edit_link" if can?(:edit, Agent) %>
            <%= link_to I18n.t('active_admin.delete'), resource_path(agent), :method => :delete, :confirm => I18n.t('active_admin.delete_confirmation'), :class => "member_link delete_link" if can?(:delete, Agent) %>
         </td>
      </tr>  
    <% end %>
  </table>
  <br />
  <%= paginate @agents %>
<% else %>
  <%= t(:text_no_agents_found) %>
<% end %>